body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color: #abb2bf;
  }
  
  h2 {
    color: #e06c75;
    margin-top: 2vh;
  }
  
  #userFunction {
    display: inline-block; 
    width:90%;
    height:70%;
    padding: 10px;
    border: 1px solid #abb2bf;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: #282c34;
    color: #abb2bf;
    overflow: auto;
  }
  
  
  button {
    display: block;
    width: 200px;
    height: 40px;
    margin-top: 2vh;
    background-color: #e06c75;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .usercode-buttons {
    display:flex;
    justify-content: space-around;
  }
  
  button:hover {
    background-color: #be5046;
  }
  
  #result {
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #abb2bf;
    border-radius: 5px;
    font-size: 16px;
    background-color: #282c34;
    color: #abb2bf;
  }

  .simulation-and-code {
    display:flex;
    justify-content: space-between;
    height:55vh;
  }
  .usercode {
    width: 51vw;
    margin-left:2.5vw;
  }
  #shuttle-holder {
    width:45vw;
    margin-left:2vw;
  }
  .instructions-and-missions {
    height:40vh;
  }
  .instructions {
    display:block;
    background-color: #3c424e;
    width: 40vw;
    height:inherit;
    margin-left:2vw;
    margin-bottom:2vh;
  }

  