body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color: #abb2bf;
  }
  
  h2 {
    color: #1ECCBE;
    margin-top: 3vh;

  }
  
  #userFunction {
    display: inline-block; 
    width:92%;
    height:70%;
    padding: 10px;
    border: 1px solid #abb2bf;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: #282c34;
    color: #abb2bf;
    overflow: auto;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    scrollbar-width: auto;
    scrollbar-color: grey black;
  }
  #userFunction .ace_selection {
    background-color: rgba(22,116,90,0.3) !important;
  }
  
  #userFunction .ace_gutter {
    background-color: rgba(22,116,90,0.3) !important;
  }
  
  
  button {
    display: block;
    width: 15vw;
    height: 5vh;
    margin-top: 2vh;
    background-color: rgb(116,22,48);
    color:white;
    font-size: calc(1vh + 0.6vw);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  .usercode-buttons {
    display:flex;
    justify-content: space-around;
  }
  
  button:hover {
    background-color: rgb(64,21,42);
  }
  
  #result {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid rgb(116,22,48);
    border-radius: 5px;
    font-size: 16px;
    background-color: #191b20;
    color: #abb2bf;
  }

  .simulation-and-code {
    margin-top:2.5vh;
    margin-bottom: 1vh;
    display:flex;
    justify-content: space-between;
    height:55vh;
  }
  .usercode {
    width: 51vw;
    margin-left:4.5vw;
  }
  .shuttle-holder {
    width:45vw;
    margin-left:2vw;
  }
  #shuttle-holder {
    position:absolute;
    width:45vw;
    height:54vh;
    z-index:2;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8), 0 0 20px rgba(0, 0, 0, 0.6); 
  }
  .background {
    position: absolute;
    z-index: 3;
    overflow: hidden;
    perspective: 1000px; /* Add perspective for 3D effect */
    border: 3px solid black;
  }

  .mars-image {
    background-image: url('../img/MarsLand.jpg');
    object-fit: fill;
    width: 45vw;
    height: 54vh;
    animation: flicker 5s infinite;
    transform: rotateX(10deg) rotateY(0deg); /* Add 3D rotation */
    transform-style: preserve-3d; /* Preserve 3D transformations */
    border-radius: 20px; /* Add border radius for curved edges */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Add shadow for depth */
  }

  @keyframes flicker {
    0% {
      opacity: 1;
    }
    80% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

  .background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
  }

  .background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100%);
    background: linear-gradient(
      rgba(255, 255, 255, 0.1) 50%,
      rgba(0, 0, 0, 0.1) 50%
    );
    background-size: 100% 4px;
    z-index: 2;
    pointer-events: none;
    animation: crt-lines 0.2s linear infinite;
  }

  @keyframes crt-lines {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 4px;
    }
  }

  
  
  
  .instructions-and-missions {
    display:flex;
    height:38vh;
  }

  
  .instructions {
    padding-right:1vw;
    padding-left:1vw;
    padding-top: 1vh;
    padding-bottom:1vh;
    border: 2px solid black;
    border-radius: 5px;
    display:block;
    background-color: #191b20;
    width: 50vw;
    height:inherit;
    margin-left:2vw;
    margin-bottom:2vh;
    overflow-y:scroll;
    z-index: 5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Add shadow for depth */
    scrollbar-width: auto;
    scrollbar-color: grey black;
  }
  .redtext {
    font-weight: 600;
    color:#16745A;
  }
  .winetext {
    color: #1ECCBE;
  }
  .usercode-buttons {
    margin:auto;
  }
  .missions {
    margin-top:10vh;
    margin-left:3vw;
    margin-right: 3vw;
    width:40vw;
    text-align: center;
  }
  .wire {
    position:absolute;
    left:50%;
    bottom:10%;
    width:50%;
    height:1.5vh;

    background-color: rgb(116,22,48);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border: 1px solid black;
  }

  