body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color: #abb2bf;
  }
  
  h2 {
    color: #e06c75;
    text-align: center;
    margin-top: 50px;
  }
  
  #userFunction {
    display: block;
    width: 70%;
    height: 200px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #abb2bf;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: #282c34;
    color: #abb2bf;
    overflow: auto;
  }
  
  
  button {
    display: block;
    width: 200px;
    height: 40px;
    margin: 20px auto;
    background-color: #e06c75;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #be5046;
  }
  
  #result {
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #abb2bf;
    border-radius: 5px;
    font-size: 16px;
    background-color: #282c34;
    color: #abb2bf;
  }

  